<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap" rel="stylesheet">

    <title th:text="#{site.title}"></title>

    <style>
      body {
        font-family: 'M PLUS 1p', sans-serif;
      }
    </style>
  </head>

  <body>
    <!-- As a heading -->
    <nav class="navbar navbar-dark bg-dark mb-3">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" th:text="#{page.search}"></span>
      </div>
    </nav>
    <div class="container">
      <form th:action="@{/motos}" method="get">
        <div class="row justify-content-end">
          <div class="col-2 col-sm-3">
            <div th:text="${#temporals.format(datetime, 'yyyy/MM/dd HH:mm:ss')}"></div>
          </div>
        </div>
        <div class="row justify-content-around">
          <div class="col-3">
            <div class="mb-3">
              <label for="brand" class="form-label" th:text="#{searchForm.brand}"></label>
              <select class="form-select" th:field="${searchForm.brandId}" id="brand" aria-label="Default select example">
                <option value=""></option>
                <option th:each="brand : ${brands}" th:text="${brand.brandName}" th:value="${brand.brandId}"></option>
              </select>
            </div>
          </div>
          <div class="col-5">
            <div class="mb-3">
              <label for="keyword" class="form-label" th:text="#{serchForm.keywoed}"></label>
              <input type="text" class="form-control" th:field="${searchForm.keyword}" id="keyword" placeholder="車名もしくはコメントの一部を入力">
              <div class="text-danger" th:errors="${searchForm.keyword}"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex flex-row-reverse">
            <button type="button" class="btn btn-primary" th:text="#{btn.new}"></button>
            <a th:href="@{/motos/reset}" class="btn btn-secondary ms-1 me-1" th:text="#{btn.reset}"></a>
            <button type="submit" class="btn btn-success" th:text="#{btn.search}"></button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col">
          <table class="table table-dark table-striped mt-3">
            <thead>
              <tr>
                <th scope="col" th:text="#{lavel.motoNo}" class="text-center"></th>
                <th scope="col" th:text="#{lavel.brand}" class="text-center"></th>
                <th scope="col" th:text="#{lavel.motoName}" class="text-center"></th>
                <th scope="col" th:text="#{lavel.engin}" class="text-center"></th>
                <th scope="col" th:text="#{lavel.price}" class="text-center"></th>
                <th scope="col" th:text="#{lavel.comment}" class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="moto : ${motos}" th:object="${moto}">
                <th scope="row" th:text="*{motoNo}"></th>
                <td th:text="*{brand.brandName}"></td>
                <td><a th:href="@{/motos/} + *{motoNo}" th:text="*{motoName}"></a></td>
                <td th:text="*{cooling} + *{cylinder}"></td>
                <td th:text="*{#numbers.formatInteger(price,3,'COMMA')}" class="text-end"></td>
                <td th:text="*{comment}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
  </body>
</html>